### If ... Else:

In [ ]:
a = 20
b = 65
c = 50
if b > a:
  print("b is greater than a")
elif a == b: print("b is equal a")
else:
  print("b is smaller than a")

b is greater than a

In [ ]:
x = 54

if x > 10:
  pass
  if x > 20:
   print("Also Above 20")

Also Above 20

In [ ]:
print('A') if a > b else print('B')

B

In [ ]:
print('A') if a > b else print('A = B') if a == b else print('B')

B

In [ ]:
if a < b and c > a:
  print('Both are true..')

Both are true..

In [ ]:
if a > b or c > a:
  print('One is true..')

One is true..

In [ ]:
if a < b:
  pass
  if c > a:
    print('True..')

True..

### LOOPs

In [ ]:
i = 0
while i < 5:
  print('*')
  i += 1

*
*
*
*
*

In [ ]:
i = 0
while i < 5:
  print(i)
  if i == 3:
    break
  i += 1

0
1
2
3

In [ ]:
i = 0
while i < 5:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5

In [ ]:
l1 = ["Sarim", "Zahid", "Sidhu"]
for x in l1:
  print(x)

Sarim
Zahid
Sidhu

In [ ]:
for x in l1:
  if x == 'Zahid':
    break
  print(x)

Sarim

In [ ]:
for x in l1:
  if x == 'Zahid':
    continue
  print(x)

Sarim
Sidhu

In [ ]:
for x in range(2,6):
  print(x)

2
3
4
5

In [ ]:
for x in range(2,30,3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [ ]:
for x in range(6):
  print(x)
else:
  print('Ended..')

0
1
2
3
4
5
Ended..

In [ ]:
for x in range(6):
  if x == 3:
    break
  print(x)
else:
  print('Ended..')

0
1
2

In [ ]:
for x in range(6):
  if x == 3:
    continue
  print(x)
else:
  print('Skipped 3 and Ended..')

0
1
2
4
5
Skipped 3 and Ended..

# Functions:

In [ ]:
def print_pattern(x):
  for i in range(x):
    for j in range(i):
      print(i, end = ' ')
    print('\n')

In [ ]:
a = int(input("Enter row size: "))
print_pattern(a)

Enter row size: 6


1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

### Arbitrary Arguments *args:
If the number of arguments is unknown, add a * before the parameter name:

In [ ]:
def my_func(*args):
  print("The last thing i ate was " + args[2])

In [ ]:
my_func("Dahi Bhllay", "Nihaari", "Brownies")

The last thing i ate was Brownies

### Keyword arguments:
You can also send arguments with the key = value syntax.

In [ ]:
def k_func(Iftaar, Dinner, Dessert):
  print("The dessert was: " + Dessert)

In [ ]:
k_func(Iftaar = "Dahi Bhllay", Dinner = "Nihaari", Dessert = "Brownies")

The dessert was: Brownies

### Arbitrary Keyword Arguments, **kwargs
If you do not know how many keyword arguments that will be passed into your function, add two asterisk: ** before the parameter name in the function definition.

In [ ]:
def aka_func(**kargs):
  print("For iftar Buffet we chose " + kargs["p3"])

In [ ]:
aka_func(p1 = "Butt karahi", p2 = "Jade", p3 = "Villa The Grand")

For iftar Buffet we chose Villa The Grand

# LAMBDA:

In [ ]:
def myfunc(n):
  return lambda a : a * n

In [ ]:
mydoubler = myfunc(2)
print(mydoubler(11))

22

In [ ]:
mytripler = myfunc(3)
mytripler(3)

9