# BOOLEANS

In [ ]:
#Boolean Operators
a = 5
b = 10
print(a == b)
print(a >= b)
print(a <= b)
print(a != b)

False
False
True
True

In [ ]:
bool("abc")
bool(123)

True

In [ ]:
bool(())

False

In [ ]:
bool("")

False

In [ ]:
bool(0)

False

In [ ]:
x = 123
print(isinstance(x,int))

True

In [ ]:
bool(()), bool({}), bool(False), bool(0)

(False, False, False, False)

# Operators

In [ ]:
# Assignment operators:
a = 2
b = 3.5
c = "Sarim Zahid Sidhu"

In [ ]:
# Logical Operators:

input("Enter the value of X: ", x)
if x > 10 and x < 15:
  print("True")

In [ ]:
input("Enter the value of X: ", x)
if not(x > 10 and x < 15):
  print("False")

In [ ]:
# Comparison operators:
x = 5
y = 6

print(x == y)
print(x < y)
print(x > y)
print(x != y)

False
True
False
True

In [ ]:
# Arithmetic Operators
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(b ** a)

5.5
-1.5
7.0
0.5714285714285714
2.0
12.25

# LIST

In [ ]:
my_list = [1,2,3]
my_list

[1, 2, 3]

In [ ]:
my_list.append(3)
my_list

[1, 2, 3, 3]

In [ ]:
len(my_list)

4

In [ ]:
my_list.append('D')
my_list.append(True)
my_list

[1, 2, 3, 3, 'D', True]

In [ ]:
my_list[4]

'D'

In [ ]:
my_list[1:]

[2, 3, 3, 'D', True]

In [ ]:
my_list[0] = 'NEW'
my_list

['NEW', 2, 3, 3, 'D', True]

In [ ]:
my_list[2:4] = ["Sarim"]
my_list

['NEW', 2, 'Sarim', 'D', True]

In [ ]:
my_list.insert(3, "Zahid")
my_list

['NEW', 2, 'Sarim', 'Zahid', 'D', True]

In [ ]:
tup = ("Kiwi", "Orange")
my_list.extend(tup)
my_list.extend(tup)
my_list

['NEW', 2, 'Sarim', 'Zahid', 'D', True, 'Kiwi', 'Orange', 'Kiwi', 'Orange']

In [ ]:
my_list.remove("Kiwi")
my_list.remove("Orange")
my_list

['NEW', 2, 'Sarim', 'Zahid', 'D', True, 'Kiwi', 'Orange']

In [ ]:
del my_list[-1]
my_list

['NEW', 2, 'Sarim', 'Zahid', 'D', True, 'Kiwi']

In [ ]:
for i in my_list:
  print(i)

NEW
2
Sarim
Zahid
D
True
Kiwi

# List Comprehension:

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
new_list = [x for x in my_list if x != "Kiwi"]
new_list

['NEW', 2, 'Sarim', 'Zahid', 'D', True]

In [ ]:
nest = [1,2,3,[4,5,['target']]]
# Nest is the combination of lists

In [ ]:
nlist = [54,86,74,95,2,0,45]
nlist.sort()
nlist

[0, 2, 45, 54, 74, 86, 95]

In [ ]:
#Copy List By list Constructor
l1 = list(my_list)
l1

['NEW', 2, 'Sarim', 'Zahid', 'D', True, 'Kiwi']

# Sort List:

In [ ]:
nlist = [54,86,74,95,2,0,45]
nlist.sort(reverse = True)
nlist

[95, 86, 74, 54, 45, 2, 0]



---

In [ ]:
l_o_l = [[1,2,3],[3,4,5],[6,7,8]]
l_o_l
# list of lists

[[1, 2, 3], [3, 4, 5], [6, 7, 8]]

In [ ]:
len(l_o_l)
# Number of lists in the list

3

In [ ]:
l_o_l.pop() #Removes the last list from the list
l_o_l

[[1, 2, 3], [3, 4, 5]]

In [ ]:
len(l_o_l)
# Number of lists in the list

2

In [ ]:
my_list = ['abc' , 23]
my_list.count(23)
# Check how many times this comes in the list

1

In [ ]:
list_1 = [1,2,3,4,5]
list_2 = [5,6,7,8,9]
list_1+list_2
# Combining the lists

[1, 2, 3, 4, 5, 5, 6, 7, 8, 9]

# TUPLES

In [ ]:
# Tuples
t = (1,2,3)

In [ ]:
t[0]
# value at given index

1

In [ ]:
t[1:]
# values except the given index

(2, 3)

In [ ]:
t[0] = 'NEW'
# We can not update the values of the tuples

In [ ]:
t = (1,2,3)
u = (3,5,6)
v = t + u
print(v)
# combining and printing tuples

(1, 2, 3, 3, 5, 6)

# SETS

In [ ]:
#SETS
st = {1,2,3}

In [ ]:
# Does not allow duplicates
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

In [ ]:
st.add(9)

In [ ]:
s1 = {1,2,3}
s2 = {3,4,5}
intersection = s1.intersection(s2)
print("Intersection is:", intersection)
union = s1.union(s2)
print("Union is:", union)
difference = s1.difference(s2 )
print("Difference is:", difference)
# Functions to find tyhe unionm intersection and the difference between two sets

Intersection is: {3}
Union is: {1, 2, 3, 4, 5}
Difference is: {1, 2}

In [ ]:
a = {1,3,4,6,'g'}
b = {2,3,4,5}
print("Intersection: ", a & b)
print("Union: ", a | b)
# Alterrnate syntax

Intersection:  {3, 4}
Union:  {1, 2, 3, 4, 5, 6, 'g'}

# DICTIONARIES

In [ ]:
#Dictionaries
d = {'key1':'item1','key2':'item2'}
d

{'key1': 'item1', 'key2': 'item2'}

In [ ]:
d['key1']
d['key1'] = 5
d

{'key1': 5, 'key2': 'item2'}

In [ ]:
d = {'k1':{'innerkey':[1,2,3]}}
print(d['k1'])
print(d['k1']['innerkey'])

{'innerkey': [1, 2, 3]}
[1, 2, 3]

In [ ]:
d['k1']['innerkey'][1]

2

In [ ]:
pets = {'dogs':5, 'cats' :4}
# Creates a Dictionary

In [ ]:
pets.keys()
# gives the keys from the pets dictionary

dict_keys(['dogs', 'cats'])

In [ ]:
pets.items()
# gives the items from the pets dictionary

dict_items([('dogs', 5), ('cats', 4)])

In [ ]:
pets.values()
# gives the values from the pets dictionary

dict_values([5, 4])

In [ ]:
"cats" in pets.keys()
#Checks the given word in the pets dictionary

True

In [ ]:
pets.clear()
# Clears the dictionary
pets

{}

In [ ]:
"cats" in pets.keys()
#Checks the given word in the pets dictionary

False